<!DOCTYPE html>
<html lang="en">

<head>
    {% include "inc/head.twig" %}
</head>

<body>

    <div id="particles-js"></div>

    <section class="hero is-fullheight is-dark has-text-centered">
        <div class="hero-body">
            <div class="container">
                {% include "inc/header.twig" %}
                <br>
                <div class="discord">
                        <iframe src="https://discordapp.com/widget?id=525378691321298945&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
                </div>
                <br>
                {% include "inc/navbar.twig" %}
            </div>
        </div>
    </section>

</body>

</html>