<!DOCTYPE html>
<html lang="en">

<head>
    {% include "inc/head.twig" %}
</head>

<body>

        <div id="particles-js"></div>

    <form class="hero is-fullheight is-dark has-text-centered" method="POST">
        <div class="hero-body">
            <div class="container">
                {% include "inc/header.twig" %}
                {% autoescape false %}
                <h2 class="subtitle">
                    <button id="upload" class="button is-primary is-rounded">
                        Click or drop files here
                    </button>
                    <input type="file" id="input" name="upload[]" multiple hidden>
                </h2>
                <h2 class="subtitle">
                    You can upload up to {{ global.maxsize }}mb per file
                </h2>
                {% endautoescape %}
                {% autoescape true %}
                <ul class="box uploadedFiles" style="display: none">
                </ul>
                {% endautoescape %}
                {% include "inc/navbar.twig" %}
            </div>
        </div>
    </form>
</body>

</html>