{% extends "layout.twig" %}

{% block page %}
<h1 class="title">IRC</h1>
<article class="message">
	<div class="message-body">
		Address: skid.land
		Port: 6697
		TLS: yes
		Channel: #pomf
	</div>
</article>
<br>
<div class="discord">
	<iframe src="https://discordapp.com/widget?id=453882251491541003&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
</div>
<br>
{% endblock page %}